apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - deployment-batch.yaml
  - deployment-stream.yaml
  - service.yaml
  - configmap.yaml
  - ingress.yaml
  - hpa.yaml

labels:
  - pairs:
      managed-by: argocd
      platform: pega
    includeSelectors: true
